
/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /* margin-bottom: 300px; */
}

.footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 300px; */
}
/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 20px;
  background-color: #000000;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dashed #999;
}

