header {
  background: #6e6d6d;
  /* height: 100px; */
  filter: drop-shadow(0 -1mm 1mm rgb(78, 78, 78));

}

.heading {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  font-family: "Poller One";
  filter: drop-shadow(0 -1mm 2mm rgb(97, 97, 97));
}

.nav-item{
  font-family: "Poller One";
}
.nav-item:hover{
    filter: drop-shadow(0 0mm 1mm rgb(136, 136, 136));
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

@media (max-width:640px) {
  
.heading {
  padding-top: 15px;
  padding-bottom: 20px;
}
}