* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Text me one";

}

nav {
  background-color: #250036;
  font-size: 25px;
  color: white;
  font-family: Oldenburg;
  overflow: hidden;
}

nav .container {
  /* width: 80%; */
  max-width: 1000px;
  /* margin: 0 auto;  */
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  /* padding: 10px; */
  /* margin-right: 5px; */
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

nav .container ul li {
  display: inline-block;
  border-radius: 0px;
}

nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
}

nav .container ul li.active {
  background-color: #5f1575;
  border-radius: 30px;
  transition: 0.3s;
}

nav .container ul li.active a {
  color: #ffffff;
}

.nav-item:hover {
  color: #aaa;
  font-weight: bold;
  border-bottom: 1px dashed #999;
  border-top: 1px dashed #999;
  /* box-shadow: 2px 2px 2px 2px black; */
  /* background-color: #3a2a3f; */
}

.navlinks {
  padding: 0;
  margin: 0;
}

.sticky {
  position: fixed;
  top: 20%;
  left: 0px;
  /* width: 100%; */
  z-index: 22;
  display: flex;
  flex-direction: column;
  background-color:rgba(44, 10, 37, 0.5);

    padding: 10px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 2px 2px 2px 2px black;
  /* align-items: baseline; */

}

.sticky i:hover{
transform: scale(1.4);
}

.sticky-info{
  display: none;
  font-size: 1.1rem;
  margin-left: 10px;
  justify-items: center;
}

.sticky:hover .sticky-info{
display: block;}


@media (max-width:1130px) {
  .navlinks {
    padding: 0;
    margin: 0 auto;
  }

}