.container {
  display: flex;
    position: relative;
    /* width: 50%; */
  }


  .image {
    position: relative;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 1s ease;
    backface-visibility: hidden;
    border-radius: 90px;
    box-shadow: 2px 2px 1px 0px rgb(32, 23, 36);

  }
  
  .middle {
    transition: .25s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  

  .container:hover .image {
    opacity: 0.1;
    height: 70%;
    transition: .5s ease;
    box-shadow: 1px 1px 10px 10px rgb(224, 158, 255);
  }
  
  .container:hover .middle {
    opacity: 1;
  }

  .overlaytext{
    font-size: 100%;
  }
  


  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%;
    width: 100%; */
    opacity: 0;
    transition: .5s ease;
    background-color: #081D5B;
    border-radius: 10%;}


    @media (max-width:1000px) {
      .image{
        border-radius: 50px;
        height: auto;
        margin: 2%;
      }

 

      .overlaytext {
        font-size: 13px;
        margin: 0px;
        /* text-decoration: none; */
        /* margin: 2px; */
      }
    }