
  *{
    color: aliceblue;
    
    box-sizing: border-box;
    scroll-behavior: smooth;
       }

.main-content{
    background: linear-gradient(#250036, #000003);
  }

  .portfolio {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;    

  }

  .contact{
    text-align: right;
  }

  .headshots {
    position: relative;
    top: 0;
    left: 0;
  }
.headshot{
  position: relative;
  z-index: 20;
  opacity: 1;
  transition: .5s ease;
}

.headshotpx{
  position: absolute;
  top: 0;
  left:0;
  z-index: 0;
}

  .headshot:hover{
    opacity: 0;
    transition: .5s ease;
  }


     @media (max-width:1130px) {
      .portfolio {
        grid-template-columns: auto auto
      }
      .headshot .headshotpx{
        height: 300px;
        width: 300px;
        border-radius:10%;
      }
      .contact{
        text-align: center;
      }
      .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
              }
    
    }

     @media (max-width:1000px) {
      .portfolio {
        grid-template-columns: auto 
      }
   
  
    }
