/* .App {
  text-align: center;
  } */

  .main-content{
    background: linear-gradient(#250036, #000003);
        /* height: 100vh; */
  }

  .portfolio {
    column-count: 3;
  }

*{
  color: aliceblue;
  box-sizing: border-box;
  scroll-behavior: smooth;
     }




