* {
  color: aliceblue;
  /* font-size: 1.1rem; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-content {
  background: linear-gradient(#250036, #000003);
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  align-items: center;
  background-color: rgba(44, 10, 37, 0.85);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax1 {
  background-image: url("../public/banner1.jpg");
}

.parallax2 {
  background-image: url("../public/banner2.jpg");
}

.parallax3 {
  background-image: url("../public/banner3.jpg");
}

.parallax {
  /* The image used */
  /* Set a specific height */
  min-height: 450px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 20px 2px black;
  border-radius: 150px;
  margin-bottom: 30px;
  width: 90%;
  align-self: center;
  position: relative;
  text-align: center;

}



.icon {
  filter: grayscale(100%);
  transition: .5s ease;

}

.icon:hover {
  filter: grayscale(0%);
  transition: .5s ease;

}



.skillname {
  opacity: 0.05;
  transition: .3s ease;
}

.icon:hover+.skillname {
  opacity: 1;
  transition: .5s ease;
}


.portfolio {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;

}

.contact {
  text-align: right;
}

.headshots {
  position: relative;
  top: 0;
  left: 0;
}

.headshot {
  position: relative;
  z-index: 20;
  opacity: 1;
  transition: .5s ease;
}

.headshotpx {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.headshot:hover {
  opacity: 0;
  transition: .5s ease;
}

.contactlink:hover,
.contactlink:focus{
 color: #aaa;
 text-decoration: none;
 /* border-bottom: 1px dashed #999; */
 
}

@media (max-width:1130px) {
  .portfolio {
    grid-template-columns: auto auto
  }

  .headshot .headshotpx {
    height: 300px;
    width: 300px;
    border-radius: 10%;
  }

  .contact {
    text-align: center;
  }



  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .parallax {
    min-height: 200px;
    border-radius: 20px;
    background-position: bottom;
  }

  .parallax1 {
    background-image: url("../public/banner1-mobile.jpg");
  }

  .parallax2 {
    background-image: url("../public/banner2-mobile.jpg");
  }

  .parallax3 {
    background-image: url("../public/banner3-mobile.jpg");
  }

}

@media (max-width:1000px) {
  .portfolio {
    grid-template-columns: auto
  }


}